.newUser-main {
  flex: 4;
  display: block;
  /* background-image: url(H:\STUDY\Project\project-app\project-app\frontend\src\pages\newUserForm\download.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-main {
  min-width: 460px;
  max-width: 530px;
  padding: 10%;
  padding-left: 30%;
}

.formInner {
  background: linear-gradient(-45deg, #1e294b, #3fa85d, #1dc690);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-color: rgb(207, 238, 207);
  color: white;
  border-radius: 10px;
  padding: 30px;
}

.headingNU {
  color: white;
  font-size: 40px;
  font-weight: 300;
  padding: 20px;
}

.formGroup {
  border-radius: 10px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.inputSpace {
  border: 0;
}
.inputSpace:hover {
  background-color: antiquewhite;
  transition: 0.3s;
}

.submitButtonNewUser {
  align-items: center;
  appearance: none;
  background-color: #fdfdfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.submitButtonNewUser:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.submitButtonNewUser:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.submitButtonNewUser:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
